---
import Layout from "../layouts/Layout.astro";

// Layout.astro
// import { functionA } from "../utils/functionA";

// 関数を使用
// const resultA = functionA();
// console.log(resultA);
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="section">
      <div class="division">コンテンツ</div>
      <div class="division none">汎用クラス確認</div>
      <div class="division flex">
        <div class="flex-1">Tailwind確認用</div>
        <div class="flex-1">Tailwind確認用</div>
      </div>
    </div>
  </main>
</Layout>
